---
layout: page
title: About Me
subtitle: "22.4591577184"
css: ["/css/aboutme.css", "/css/timeline.css"]
---

<div id="aboutme-section">
<p class="about-text">
<span class="fa fa-graduation-cap about-icon"></span>
Begin to study Bachelor of Computer Science in <strong>Vietnamese-German University</strong> in September 2017. Came from Ly Tu Trong Gifted High School of Can Tho, majoring in Informatics.
</p>

<p class="about-text">
<span class="fa fa-code about-icon"></span>
Previously, in high school, I was mostly solving problems in Algorithmic Contests. I excitingly moved to programming softwares and websites, both for <strong>open-source companies and private start-ups</strong>. My favorite programming languages include Python, C++, JavaScript.
</p>

<p class="about-text">
<span class="fa fa-trophy about-icon"></span>
Second prize in the 2017 Vietnam Olympiad of Informatics, ranking #34.
<br>
Bronze medal in the 2014 National ViOlmypic of Mathematics.
<br>
Candidate master on Codeforces.
</p>

<p class="about-text">
<span class="fa fa-heart about-icon"></span>
I love Computer, Arts, Mathematics, Meme, Music, Animals, but not necessarily in that order.
</p>

<p class="about-text">
<span class="fa fa-globe about-icon"></span>
Born and grew up in <i>Can Tho, Vietnam</i>, moved to <i>Binh Duong, Vietnam</i> for university.
</p>

</div>
<br>
<h1>Important turning points, so far</h1>
<div class="tl-container">
  <div class="item">
    <div id="timeline">
      <div>
        {% for year in site.data.timeline %}
        <section class="year">
          <h3>{{ year['year'] }}</h3>
          {% for month in year['details'] %}
          <section>
              <h4>{{ month['month'] }}</h4>
              <ul>
                {% for activity in month['details'] %}  
                <li>{{ activity }}</li>
                {% endfor %}
              </ul>
          </section>
          {% endfor %}
        </section>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
  <script async src="https://btcwidget.com/btcwidgetsrc.js"></script>
<br/>
</div>
