<script type="text/javascript" src="{{ site.url }}/js/jquery-3.2.1.min.js"></script>
{% for ext_js in page.ext_js %}
<script src="{{ ext_js }}"></script>
{% endfor %}

<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/main.js"></script>
<script type="text/javascript" src="{{ site.url }}/lightbox/js/lightbox.min.js"></script>
{% for js in page.js %}
<script type="text/javascript" src="{{ site.url }}/{{ js }}"></script>
{% endfor %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.3/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({ TeX: { extensions: ["color.js"] }});
</script>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    TeX: {
      equationNumbers: {
        autoNumber: "AMS"
      }
    },
    tex2jax: {
      inlineMath: [ ['\\(','\\)'] ],
      displayMath: [ ['\\[','\\]'] ],
      processEscapes: true,
    },
    CommonHTML: { linebreaks: { automatic: true } },
    "HTML-CSS": { linebreaks: { automatic: true } },
           SVG: { linebreaks: { automatic: true } }
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/katex@0.10.1/dist/katex.min.js" integrity="sha384-2BKqo+exmr9su6dir+qCw08N2ZKRucY4PrGQPPWU1A7FtlCGjmEGFqXCv5nyM5Ij" crossorigin="anonymous"></script>


<script>
    $("script[type='math/tex']").replaceWith(function() {
        var tex = $(this).html();
        return katex.renderToString(tex.replace(/%.*/g, ''), {displayMode: false});
    });
</script>
<script>
    $("script[type='math/tex; mode=display']").replaceWith(function() {
        var tex = $(this).html();
        // replace() here is due to CDATA wrapper (#224). KaTeX chokes on the % character,
        // which is unfortunate (and should probably be reported).
        return katex.renderToString(tex.replace(/%.*/g, ''), {displayMode: true});
    });
</script>
