{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}

<div class="cover-card table-cell table-middle">
  {% if author.avatar %}
  <img src="{{ site.url }}/{{ author.avatar }}" alt="" class="avatar">
  {% endif %}
  <a href="{{ site.url }}/" class="author_name">
    <span style="color:#1F9DFF">{{ author.vorname }}</span>
    <span style="color:#FF6666">{{ author.familienname }}</span>
  </a>
  <span class="author_job">{{ author.job }}</span>
  <span class="author_bio mbm">{{ author.bio }}</span>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="{{ site.url }}/">home</a>
        <span>/</span>
      </li>
      <li class="nav-item">
        <a href="{{ site.url }}/GratitudeHall">gratitude hall</a>
        <span>/</span>
      </li>
      {% for page in site.pages %} {% if page.title %}
      <li class="nav-item">
        <a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>
        {% unless forloop.last %}
          <span>/</span>
        {% endunless %}
      </li>
      {% endif %} {% endfor %}
      <li class="nav-item">
        <a href="https://www.buymeacoffee.com/tvhoang" target="_blank">support me</a>
      </li>
    </ul>
  </nav>
  {% include social-links.html %}
</div>
