---
layout: default
---

<div id="post">
  {% if page.image.feature %}
  <div class="post-image-feature">
    <img class="feature-image" src=
    {% if page.image.feature contains 'https' or page.image.feature contains 'http' %}
    "{{ page.image.feature }}"
    {% else %}
    "{{ site.url }}/img/{{ page.image.feature }}"
    {% endif %}
    alt="{{ page.title }} feature image">

    {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
    {% endif %}
  </div><!-- /.image-wrap -->
  {% endif %}
  <header class="post-header">
    <h1 title="{{ page.title }}">{{ page.title }}</h1>
    <span class="post-meta">
        {% assign date = page.date | date: "%-d %b %Y" | upcase %}
        <span class="post-date">
            {{ date }}
        </span>
        {% if page.last-update %}
            {% assign last-update = page.last-update | upcase %}
            {% if last-update != date %}
            / <i class="fa-solid fa-refresh" aria-hidden="true"></i>
            <span class="post-date">
            {{ last-update }}
            </span>
            {% endif %}
        {% endif %}
        {% if page.categories.size > 0 %}
        •
        {% for cat in page.categories %}
          <a class="post-cat" href="{{ site.url }}/categories/#{{ cat }}">{{ cat }}</a>
          {% unless forloop.last %}
          <span>/</span>
          {% endunless %}
        {% endfor %}
        {% endif %}
    </span>

  </header>

  <article class="post-content">
    {{ content }}
  </article>
</div>

<div class="share-buttons">
  <h6>Share on: </h6>
  <ul>
    <li>
      <a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}" class="twitter btn" title="Share on Twitter"><i class="fa-brands fa-twitter"></i><span> Twitter</span></a>
    </li>
    <li>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class="facebook btn" title="Share on Facebook"><i class="fa-brands fa-facebook"></i><span> Facebook</span></a>
    </li>
    <li>
      <a href="https://www.reddit.com/submit?url={{ site.url }}{{ page.url }}" class="reddit btn" title="Share on Reddit"><i class="fa-brands fa-reddit"></i><span> Reddit</span></a>
    </li>
  </ul>
</div><!-- end share-buttons -->

{% if site.owner.disqus-shortname and page.comments == true %}
<div id="disqus_thread"></div>
{% include disqus.html %}
{% endif %}
